In [4]:
from scipy.stats import norm
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

In [5]:
df = pd.read_excel('Chapter_08_MC_Expenses_DataSet4_Q6.xlsx')
df.head()

   Person  Gender Married  Age  Children  Salary  Spent
0       1    Male      No   28         1   48600    750
1       2    Male     Yes   35         2   75500   1980
2       3  Female      No   33         2   58900   1820
3       4  Female     Yes   53         1   92200    990
4       5  Female      No   49         1  100700   1990

In [6]:
df_married = df[df['Married']=="Yes"]
df_unmarried = df[df['Married']=="No"]

In [7]:
df_married.count()

Person      56
Gender      56
Married     56
Age         56
Children    56
Salary      56
Spent       56
dtype: int64

In [8]:
df_unmarried.count()

Person      44
Gender      44
Married     44
Age         44
Children    44
Salary      44
Spent       44
dtype: int64

In [14]:
t_stat, p_value = ttest_ind(df_married['Salary'], df_unmarried['Salary'], equal_var=True)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

T-statistic: 3.276129878083237, P-value: 0.0014559287639784716

In [19]:
mean_salary = df['Salary'].mean()
std_salary = df['Salary'].std()

In [21]:
confidence_level = 0.95
# BEGIN: calculate the upper bound and lower bound using the t-statistic, p-value, and means
import scipy.stats as stats
# Calculate the standard error
standard_error = std_salary / np.sqrt(len(df['Salary']))

# Calculate the margin of error
margin_of_error = t_stat * standard_error

# Calculate the lower and upper limits
lower_limit = mean_salary - margin_of_error
upper_limit = mean_salary + margin_of_error

In [22]:
lower_limit, upper_limit

(np.float64(86064.94534913007), np.float64(103395.05465086993))

In [32]:
import math
from scipy import stats

def confidence_interval_difference(mean1, mean2, std1, std2, n1, n2, confidence=0.95):
    # Pooled standard deviation
    sp = math.sqrt(((n1 - 1) * std1**2 + (n2 - 1) * std2**2) / (n1 + n2 - 2))
    
    # Degrees of freedom
    dof = n1 + n2 - 2

    # t critical value for the given confidence level
    t_critical = stats.t.ppf(1 - (1 - confidence) / 2, dof)
    print(f"t_critical: {t_critical}")
    # Margin of error
    margin_of_error = t_critical * sp * math.sqrt(1/n1 + 1/n2)
    
    # Confidence interval
    lower_limit = (mean1 - mean2) - margin_of_error
    upper_limit = (mean1 - mean2) + margin_of_error
    
    return lower_limit, upper_limit

In [33]:
# Separate the data for married and unmarried individuals
married_salaries = df[df['Married'] == 'Yes']['Salary']
unmarried_salaries = df[df['Married'] == 'No']['Salary']

# Calculate the means, standard deviations, and sample sizes
mean_married = married_salaries.mean()
mean_unmarried = unmarried_salaries.mean()

std_married = married_salaries.std()
std_unmarried = unmarried_salaries.std()

n_married = married_salaries.count()
n_unmarried = unmarried_salaries.count()

# Use the previously defined function to calculate the confidence interval
lower, upper = confidence_interval_difference(mean_married, mean_unmarried, std_married, std_unmarried, n_married, n_unmarried)
lower, upper

t_critical: 1.984467454426692

(np.float64(6567.1317250288375), np.float64(26746.17996328285))